.input {
  --input-bd-focus: var(--mb-color-brand);

  display: flex;
  align-content: center;
  padding-inline-start: 1rem;
  min-height: 3.25rem;

  &:focus-within {
    border-color: var(--input-bd-focus);
  }
}

.pillGroup {
  display: flex;
  align-items: center;
}

.field {
  height: 1.75rem;
  display: flex;
  align-items: center;
  margin-inline-start: 0.5rem;
}

.pillRemove {
  cursor: pointer;
  flex-shrink: 0;
  color: var(--mb-color-text-secondary);

  &:hover {
    color: var(--mb-color-text-primary);
  }
}

.pillContent {
  color: var(--mb-color-text-primary);
}

.option {
  padding: 0.5rem;

  &:hover {
    background-color: var(--mb-color-background-hover);
  }
}

.optionDisabled {
  padding: 0.5rem;
  cursor: not-allowed;
  opacity: 1;
}

.optionContent {
  flex: 1;
}

.optionIcon {
  color: var(--mb-color-text-primary);
  flex-shrink: 0;
}

.optionIconDisabled {
  color: var(--mb-color-text-tertiary);
  flex-shrink: 0;
}

.disabledInfoIcon {
  color: var(--mb-color-text-secondary);
  flex-shrink: 0;
  margin-left: auto;
}
